$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$layout-page-width: 128rem !default;
$layout-content-width: 93rem + 5.6rem !default;
$layout-text: 67.4rem + 5.6rem !default;
$page-intend: 2.8rem;
$page-intend--md: 2rem;
$base-color: #295ba6 !default;
$highlight-color: #00acec !default;
$highlight-color--hover: #295ba6 !default;
$border-color: #d4d4d4 !default;
$bullet-color: #c0c0c0 !default;
$animation-speed: 0.2s !default;
